{% extends "Admin/blank.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
{% endblock link %}
<div class="page-wrapper">
    {% block content %}
    <link href="{% static 'Admin/user.css'%}" rel="stylesheet">
    	


    
    
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">View category</h4>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->

    <div class="container-fluid ">
        <!-- ============================================================== -->
        <!-- Three charts -->
        <!-- ============================================================== -->
        <div class="container-xl">
            <div class="table-responsive">
                <div class="table-wrapper ">			
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Customer name</th>
                                    <th>Product</th>
                                    <th>address</th>
                                    <th>status</th>
                                    <th>count</th>
                                    <th>price</th>
                                    <th>payment_method</th>
                                    <th>date</th>
                                    <th>action</th>

                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>{{order.id}}</td>
                                    <td>{{order.user.username}}</td>
                                    <td>{{order.products.product_name}}</td>
                                    <td>{{order.address.address}}</td>
                                    <td>
                                        
                                        {{order.status}}


                                    </td>
                                    <td>{{order.count}}</td>
                                    <td>{{order.price}}</td>
                                    <td>{{order.payment_method}}</td>
                                    <td>{{order.date}}</td>
                                    
                                    
                                    <td>
                                        
                                    <div class="p-1">
                                        {% if order.status == "Ordered" %}
                                        <button class="btn btn-primary button"  type="button" data-listid="{{order.id}}" value="Shipped" >Shipped</button>
                                        {% elif order.status == "Shipped" %}
                                        <button class="btn btn-primary button"  type="button" data-listid="{{order.id}}" value="deliverd" >Delivered</button>
                                        {% endif %}
                        
                                    </div>

                                </td>
                                    
                                </tr>
                                {% endfor %}
                              
                                
                                
                                
                               
                            </tbody>


                    </table>       
                            

                    
                </div>
            </div>        
        </div>         
        
    </div>
    
    
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
        
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
        

    </script>
    <script>
        $(".button").click(function() {
            var $button = $(this);
            var id = $(this).attr("data-listid");
            console.log(id)
            var values = $(this).val();
            if (values == 'deliverd'){
                y=confirm('are u confirm')
                if(y==true){

                    var data = {
                        'id1' : id,
                        'status' : values,
                        
                        }
                        $.ajax({
                            url:'/admin/order_status/',
                            method:'POST',
                            data: data,
                            success:function(data){
                                if (data =='true'){
                                    window.location.replace('/admin/order_list/')
                                }
                            }
                        });
                }
            }
            else{
            var data = {
            'id1' : id,
            'status' : values,
            
            }
            $.ajax({
                url:'/admin/order_status/',
                method:'POST',
                data: data,
                success:function(data){
                    if (data =='true'){
                        window.location.replace('/admin/order_list/')
                    }
                }
            });
            }
            
        });
    </script>
    
    {% endblock content %}